
.table-footer-container
{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height:70vh;
}


.header
{
 margin-top: 0px;
  width: 100vw;
  height: 3rem;
  padding-top: 10px;
  text-align: center;
  background-color: aqua;
}


.searchBox {
  height: 3rem;
  width: 80vw;
  margin-left: 10%;
}

th,
td {
  width: 20vw;
  height: 2.8rem;
  text-align: left;
  transition: all 0.4s ease;
}

tr:hover {
  background-color: rgb(59, 59, 62);
  color: white !important;
  transition: background-color 0.6s ease;
  transform: scale(1.004) translateZ(0);
}

th{
  font-size: 18px;
}
td{
  font-size: 16px;
}

.logo {
  height: 1.5rem;
  height: 1.5rem;
  margin-right: 0.8rem;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;

  /* border: 7px solid green; */
}

.footer-pagination-buttons {
  display: flex;
  /* border: 2px solid red; */
}

.pagination-control-icon {
  margin-top: 15px;
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;

}




.inside-contaier {
  display: flex;
  /* border: 2px solid green; */
}

.inside-buttons-container {
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
  width: 15rem;
}
table {
  width: 80vw;
  margin-left: 10%;
}
.button {
  border-radius: 20px;
  margin-left: 10px;
  background-color: rgb(243, 57, 57);
  height: 2rem;
  width: 130px;
  color: #ffffff;
  border: 0px;
  padding: 1px 1px 1px 1px;
  margin-top: 15px;
}

.last {
  display: none;
}

.not-found{
  font-weight: 500;
  text-align: center;
}